@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"); /* Police globale : Merriweather sans*/
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"); /* Police logo : Irish Grover */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.asterisque {
  color: red;
}

/* pour les écrans xs, s et m */
@media (max-width: 991px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 25px 0;
  }
  form {
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    border: 1px rgb(211, 211, 211) solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    small{
      margin: 25px 0 0 0;
    }

    label {
      margin: 15px 0 0 0;
    }

    input {
      margin: 5px 0 15px 0;
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
    }
    textarea{
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
      height: 150px;
    }
    #btn_formulaire {
      background-color: #A47055;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 25px 0 25px 0;
    }
  }
}

/* pour les écrans lg */
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 25px 0;
  }
  form {
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
    border: 1px rgb(211, 211, 211) solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    small{
      margin: 25px 0 0 0;
    }
  
    label {
      margin: 15px 0 0 0;
    }
  
    input {
      margin: 5px 0 15px 0;
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
    }
    textarea{
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
      height: 150px;
    }
    #btn_formulaire {
      background-color: #A47055;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 25px 0 25px 0;
    }
  }
}
/* pour les écrans xl */
@media (min-width: 1200px) and (max-width: 1399px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 25px 0;
  }
  form {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    border: 1px rgb(211, 211, 211) solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    small{
      margin: 25px 0 0 0;
    }
  
    label {
      margin: 15px 0 0 0;
    }
  
    input {
      margin: 5px 0 15px 0;
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
    }
    textarea{
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
      height: 150px;
    }
    #btn_formulaire {
      background-color: #A47055;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 25px 0 25px 0;
    }
  }
}

/* pour les écrans xxl */
@media (min-width: 1400px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 25px 0;
  }
  form {
    width: 60%;
    margin: auto;
    margin-bottom: 25px;
    border: 1px rgb(211, 211, 211) solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    small{
      margin: 25px 0 0 0;
    }
  
    label {
      margin: 15px 0 0 0;
    }
  
    input {
      margin: 5px 0 15px 0;
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
    }
    textarea{
      border: 1px rgb(211, 211, 211) solid;
      border-radius: 5px;
      padding: 5px;
      height: 150px;
    }
    #btn_formulaire {
      background-color: #A47055;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 25px 0 25px 0;
    }
  }
}